@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Itim', cursive;
}

/* Global styles */
.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/* Header Section */

.page-heading {
  margin: 1.8em 0;
}

/* Grid section */

.grid-container {
  width: 100vw;
  height: 50vh;
}

.grid-items {
  width: 31vw;
  display: inline-block;
  margin: 1.2em;
  border: 2px solid black;
  background-color: #999999;
}

.grid-items > div:last-child {
  padding: 1em;
}

.grid-item-heading {
  padding: 0.1em 1.5em;
  border: 1px solid black;
  font-weight: bold;
}

.grid-item-heading-1 {
  background-color: #e5d198;
}

.grid-item-heading-2 {
  background-color: #c14543;
}

.grid-item-heading-3 {
  background-color: #d59898;
}

@media (max-width: 767px) {
  .grid-items {
    width: 95vw;
  }
}

@media (min-width: 767px) {
  .grid-item-1 {
    width: 44vw;
  }
  .grid-item-2 {
    width: 44vw;
  }

  .grid-item-3 {
    width: 95vw;
  }
}

@media (min-width: 992px) {
  .grid-items {
    width: 27vw;
  }
}

@media (min-width: 1000px) {
  .grid-items {
    width: 28vw;
  }
}

@media (min-width: 1200px) {
  .grid-items {
    width: 29vw;
  }
}
